extends baseEmail 

block content 
    p Hi #{firstName},
    p Forgot your password? Please send a patch request along with your new password and passwordConfirm to #{url}.
    p (Route not implemented for this app!)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password
    p If you dont wish to update password please ignore this email!`